.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
  }
  
  .header {
    background-color: rgba(54, 207, 157, 1);
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 24px;
    color: white;
  }
  
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .akuTime {
    font-family: Aboreto, sans-serif;
    font-size: 72px;
    color: #121212;
    margin: 0;
  }
  
  .byDevObsessed {
    font-family: Georgia, serif;
    font-size: 24px;
    color: #121212;
    margin-top: 10px;
  }
  
  .loginButton {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 20px;
    background-color: rgba(19, 19, 19, 1);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .loginButton:hover {
    background-color: rgba(30, 30, 30, 1);
  }
  
  .footer {
    background-color: #E6E6E6;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 18px;
    color: #121212;
  }
  